# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#Unused files
*~

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Aula1 5/JavaApplication3/nbproject/private/
/Aula1 5/JavaApplication3/build/
/Aula15/foxes-and-rabbits-v1/nbproject/private/
/Aula15/foxes-and-rabbits-v1/build/
/Aula19/nbproject/private/
/projects-4e/projects/chapter10/foxes-and-rabbits-v2/foxes-and-rabbits-v2/nbproject/private/
/projects-4e/projects/chapter10/foxes-and-rabbits-v2/JavaApplication7/nbproject/private/
/Aula21/foxes-and-rabbits-v2/nbproject/private/
/Aula23/diary-testing-junit-v2/nbproject/private/
/Aula23/JUnit-Sample/nbproject/private/
/Aula23/Aula20-GuiExamples/nbproject/private/
/Aula20-GuiExamples/nbproject/private/
/Aula20-GuiExamples/build/
/Aula24/nbproject/private/
/Aula24/build/